body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#PageHeader1
{
   background-clip: padding-box;
   background-color: #072146;
   background-image: none;
   box-sizing: border-box;
}
#wb_Shape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_CssMenu1 a
{
   display: block;
   color: #FFFFFF;
   border: 1px solid #CCCCCC;
   border-radius: 1px;
   background-color: #072146;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 94.03%;
   height: 48px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 48px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
}
.CssMenu1-effect:before
{
   background-color: #337AB7;
   background-image: none;
   border: 1px solid #2E6DA4;
}
#wb_CssMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
.CssMenu1-effect
{
   display: inline-block;
   -webkit-transform: perspective(0px) translateX(0);
   transform: perspective(0px) translateX(0);
   position: relative;
   -webkit-transition: color 500ms linear;
   transition: coor 500ms linear;
}
.CssMenu1-effect:before 
{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
   -webkit-transform: scaleX(0);
   transform: scaleX(0);
   -webkit-transform-origin: 100% 50%;
   transform-origin: 100% 50%;
   -webkit-transition: all 500ms linear;
   transition: all 500ms linear;
}
.CssMenu1-effect:hover:before, .CssMenu1-effect:focus:before, .CssMenu1-effect:active:before 
{
   -webkit-transform: scaleX(1);
   transform: scaleX(1);
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont1
{
   height: 106px;
   width: 128px;
}
.IconFont1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont1:before
{
   content: "\e8a6";
}
#IconFont1 i
{
   color: #265A88;
   display: inline-block;
   font-size: 106px;
   line-height: 106px;
   vertical-align: middle;
   width: 105px;
}
#wb_IconFont1:hover i
{
   color: #337AB7;
}
